<main id="main" class="main">
    <div class="p-4 rounded-container">
        <h3 class="text-center text-uppercase fw-bold">SUSPENCION O CANCELACION DE SERVICIO SOCIAL</h3>
        <hr class="mb-5">
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
                <label for="validationCustom01" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="name" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">NOMBRE DE LA DEPENDENCIA</label>
                <input type="text" class="form-control" id="validationCustom02" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">MOTIVO DE CANCELACION O SUSPENCION</label>
                <input type="text" class="form-control" id="validationCustom03" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">TELEFONO</label>
                <input type="text" class="form-control" id="numeroTelefono" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">JEFE INMEDIATO</label>
                <input type="text" class="form-control" id="validationCustom05" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">CARGO JEFE INMEDIATO</label>
                <input type="text" class="form-control" id="validationCustom06" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">PROGRAMA</label>
                <input type="text" class="form-control" id="validationCustom07" value="" required>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">FECHA DE SUSPENCION O CANCELACION</label>
                <input type="text" class="form-control" id="$now" value="" required>
            </div>
    
            <div class="col-12 text-center mt-4">
                <button class="sign-in_btn" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</main>

