<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>COSSIES</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="/app\main\welcome\welcome.component.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
</head>

<body class="font-sans antialiased">
    <header class="header">
        <div class="header__background"></div>
        <div class="header__title">
            <img src="assets/images/COSSIES_logo-light.png" alt="COSSIES Logo" class="responsive-img" />
            <h1>COSSIES</h1>
            <p>COORDINACIÓN DE SERVICIO SOCIAL DE INSTITUCIONES DE EDUCACIÓN SUPERIOR</p>
        </div>
    </header>
</body>
</html>
