
<div class="font-sans antialiased content">
    <header class="header">
        <div class="header__background"></div>
        <div class="header__title">
            <img src="assets/img/COSSIES_logo-light.png" alt="COSSIES Logo" class="responsive-img" />
            <h1>COSSIES</h1>
            <p>COORDINACIÓN DE SERVICIO SOCIAL DE INSTITUCIONES DE EDUCACIÓN SUPERIOR</p>           
        </div>
        
        <div class="frame">
            <!-- <button class="custom-btn btn-15" (click)="iniciarSesion()">INICIAR SESIÓN</button>
            <button class="custom-btn btn-8" (click)="iniciarSesion()">REGISTRATE</button> -->

            <div class="container">

                <div class="row">

                    <a class="button type--C" (click)="iniciarSesion()">
                        <div class="button__line"></div>
                        <div class="button__line"></div>
                        <span class="button__text">INGRESAR</span>
                        <div class="button__drow1"></div>
                        <div class="button__drow2"></div>
                    </a>
                    
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>

                    <a class="button type--C" (click)="iniciarSesion()">
                        <div class="button__line"></div>
                        <div class="button__line"></div>
                        <span class="button__text">REGISTRATE</span>
                        <div class="button__drow1"></div>
                        <div class="button__drow2"></div>
                    </a>

                </div>
            </div>
            
        </div>
      
    </header>
</div>