<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>COSSIES</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/colors.css" />
    <link rel="stylesheet" href="/assets/css/master.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />

  </head>
  <body class="font-sans antialiased">
    <div class="bg-gray-50 text-white/50">
      <header class="header">
        <div class="header__background"></div>
        <div class="header__title">
         
          <img src="assets/images/COSSIES_logo-light.png" alt="COSSIES Logo" class="responsive-img"/>

          <h1>COSSIES</h1>
          <p>
            COORDINACIÓN DE SERVICIO SOCIAL DE INSTITUCIONES DE EDUCACIÓN SUPERIOR
          </p>
        </div>

       
      
      </header>

      <main class="mt-6"></main>

      <footer class="py-16 text-center text-sm text-black"></footer>
    </div>
  </body>
</html>
